# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
_ReSharper.*
_dotCover.*
*.csproj.user
*.ReSharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.cachefile
*dat
*.crc
*.Version
assets
build
content
*.user
cachefile*.*
src/packages